		/* Reset CSS
		 * --------------------------------------- */
		body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
		form,fieldset,input,textarea,p,blockquote,th,td {
		    padding: 0;
		    margin: 0;
		}
		a{
			text-decoration:none;
		}
		table {
		    border-spacing: 0;
		}
		fieldset,img {
		    border: 0;
		}
		address,caption,cite,code,dfn,em,strong,th,var {
		    font-weight: normal;
		    font-style: normal;
		}
		strong{
			font-weight: bold;
		}
		ol,ul {
		    list-style: none;
		    margin:0;
		    padding:0;
		}
		caption,th {
		    text-align: left;

		}
		h1,h2,h3,h4,h5,h6 {
		    font-weight: normal;
		    font-size: 100%;
		    margin:0;
		    padding:0;
		    color:#444;
		}
		q:before,q:after {
		    content:'';
		}
		abbr,acronym { border: 0;
		}

		/*Preloader
		 * --------------------------------------- */
		 #loader-wrapper {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1000;
		}

		#laden {
			text-align: center;
			color: white;
			left: 48.8%;
			top: 49.7%;
			position: fixed;
			z-index: 1001;
		}

		#loader {
			display: block;
			position: relative;
			left: 50%;
			top: 50%;
			width: 150px;
			height: 150px;
			margin: -75px 0 0 -75px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: #5e5e5e;
		
			-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
			animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
		
			z-index: 1001;
		}
		
			#loader:before {
				content: "";
				position: absolute;
				top: 5px;
				left: 5px;
				right: 5px;
				bottom: 5px;
				border-radius: 50%;
				border: 3px solid transparent;
				border-top-color: #6b6b6b;
		
				-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
				animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
			}
		
			#loader:after {
				content: "";
				position: absolute;
				top: 15px;
				left: 15px;
				right: 15px;
				bottom: 15px;
				border-radius: 50%;
				border: 3px solid transparent;
				border-top-color: #757575;
		
				-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
				  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
			}
		
			@-webkit-keyframes spin {
				0%   { 
					-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
					-ms-transform: rotate(0deg);  /* IE 9 */
					transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
				}
				100% {
					-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
					-ms-transform: rotate(360deg);  /* IE 9 */
					transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
				}
			}
			@keyframes spin {
				0%   { 
					-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
					-ms-transform: rotate(0deg);  /* IE 9 */
					transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
				}
				100% {
					-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
					-ms-transform: rotate(360deg);  /* IE 9 */
					transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
				}
			}
		
			#loader-wrapper .loader-section {
				position: fixed;
				top: 0;
				width: 51%;
				height: 100%;
				background: #3f464d;
				z-index: 1000;
				-webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
				-ms-transform: translateX(0);  /* IE 9 */
				transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
			}
		
			#loader-wrapper .loader-section.section-left {
				left: 0;
			}
		
			#loader-wrapper .loader-section.section-right {
				right: 0;
			}
		
			/* Loaded */
			.loaded #loader-wrapper .loader-section.section-left {
				-webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
					-ms-transform: translateX(-100%);  /* IE 9 */
						transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
		
				-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
						transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
			}
		
			.loaded #loader-wrapper .loader-section.section-right {
				-webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
					-ms-transform: translateX(100%);  /* IE 9 */
						transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
		
		-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
				transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
			}
			
			.loaded #loader {
				opacity: 0;
				-webkit-transition: all 0.3s ease-out;  
						transition: all 0.3s ease-out;
			}

			.loaded #laden {
				opacity: 0;
				-webkit-transition: all 0.3s ease-out;  
						transition: all 0.3s ease-out;
			}

			.loaded #loader-wrapper {
				visibility: hidden;
		
				-webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
					-ms-transform: translateY(-100%);  /* IE 9 */
						transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
		
				-webkit-transition: all 0.3s 1s ease-out;  
						transition: all 0.3s 1s ease-out;
			}

			.no-js #loader-wrapper {
				display: none;
			}

        /*Navbar
         * --------------------------------------- */
		 .header {
			text-align: center;
			width: 100%;
			padding: 15px;
			position: fixed;
			top: 0;
			z-index: 1;
			background: rgba(99, 99, 99, 0.493);
			box-shadow: rgba(0, 0, 0, 1) 0 0 7px;
		}
		
		.main-nav ul {
			margin: 0 -15px;
			padding: 0;
			list-style: none;
		}
		
		.main-nav li {
			display: inline-block;
			margin-right: -4px;
			padding: 0 15px;
		}
		
		.main-nav a {
			display: block;
			font-size: 16px;
			color: #fff;
			text-decoration: none;
		}
		
		.main-nav .active a {
			color: #000000;
		}
		/* Custom CSS
		 * --------------------------------------- */
		body{
			font-family: arial,helvetica;
			color: #F2F2F2;
		}
		h1{
			font-size: 4em;
		}
        h2{
            font-size: 1.5em;
        }

		p{
			font-size: 1em;
		}
		.content{
			position: relative;
			top: 25%;
			transform: translateY(-50%);
			text-align: center;
		}

		.maps{
			position: relative;
			top: 30%;
			left: 20%;
			right: 20%;
		}

		/* Startseite
		 * --------------------------------------- */
		#section0{
			/*background: linear-gradient(rgb(2, 168, 154), rgb(197, 197, 197));*/
			background-image: url("background.jpg");
		}
		#section0 h1{
			-webkit-transform: translateY(1000px);
	        transform: translateY(1000px);
			opacity: 0;
			-webkit-transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out;
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			color: rgb(174, 212, 255);
            
		}

		#section0 h2{
			-webkit-transform: translateY(1000px);
	        transform: translateY(1000px);
			opacity: 0;
			-webkit-transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out;
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			color: rgb(174, 212, 255);
            
		}

		#section0 img{
			-webkit-transform: translateY(1000px);
	        transform: translateY(1000px);
			opacity: 0;
			-webkit-transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out;
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
		}

		#section0.active h1{
			-webkit-transform: translateY(0);
					transform: translateY(0);
			opacity: 1;
		}

		#section0.active h2{
			-webkit-transform: translateY(0);
					transform: translateY(0);
			opacity: 1;
		}

		#section0.active img{
			-webkit-transform: translateY(0);
					transform: translateY(0);
			opacity: 1;
		}


		#section0.active h2{
			-webkit-transition-delay: .22s;
					transition-delay: .22s;
		}

		#section0.active h2 + h2{
			-webkit-transition-delay: .44s;
					transition-delay: .44s;
		}

		#section0.active img{
			-webkit-transition-delay: .44s;
					transition-delay: .44s;
		}

		#section0 p{
			color: #333;
			opacity: 0.4;
		}
        .contentsection0{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
		}

		.arrow {
			text-align: center;
			position: relative;
			top: 60%;
		  }

		  .bounce {
			-moz-animation: bounce 2s infinite;
			-webkit-animation: bounce 2s infinite;
			animation: bounce 2s infinite;
		  }
		  
		  @keyframes bounce {
			0%, 20%, 50%, 80%, 100% {
			  transform: translateY(0);
			}
			40% {
			  transform: translateY(-30px);
			}
			60% {
			  transform: translateY(-15px);
			}
		  }


		/* Leistungen
		 * --------------------------------------- */
		#section1{
			background-color: rgb(126, 154, 160);
		}
		#section1 h1{
			-webkit-transform: translateY(1000px);
	        transform: translateY(1000px);
			opacity: 0;
			-webkit-transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out;
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			color: #444;
		}

		#section1.active h1{
			-webkit-transform: translateY(0);
					transform: translateY(0);
			opacity: 1;
		}

		#section1 p{
			opacity: 0.8;
		}


		/* Schwerpunkte
		 * --------------------------------------- */
		#section2{
			background-color: rgb(105, 148, 158);
		}
		#section2 h1{
			-webkit-transform: translateY(1000px);
	        transform: translateY(1000px);
			opacity: 0;
			-webkit-transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out;
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			color: #F2F2F2;
		}

		#section2.active h1{
			-webkit-transform: translateY(0);
					transform: translateY(0);
			opacity: 1;
		}

		#section2 p{
			opacity: 0.6;
		}
        /* Produkte
		 * --------------------------------------- */
		#section3{
			background-color: rgb(75, 135, 148);
		}
		#section3 h1{
			-webkit-transform: translateY(1000px);
	        transform: translateY(1000px);
			opacity: 0;
			-webkit-transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out;
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			color: #F2F2F2;
		}

		#section3.active h1{
			-webkit-transform: translateY(0);
					transform: translateY(0);
			opacity: 1;
		}

		#section3 p{
			opacity: 0.6;
		}
        /* Partner
		 * --------------------------------------- */
		#section4{
			background-color: rgb(50, 126, 143);
		}
		#section4 h1{
			-webkit-transform: translateY(1000px);
	        transform: translateY(1000px);
			opacity: 0;
			-webkit-transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out;
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			color: #F2F2F2;
		}
		#section4.active h1{
			-webkit-transform: translateY(0);
					transform: translateY(0);
			opacity: 1;
		}
		#section4 p{
			opacity: 0.6;
		}
        /* Referenzen
		 * --------------------------------------- */
		#section5{
			background-color: rgb(28, 113, 133);
		}
		#section5 h1{
			-webkit-transform: translateY(1000px);
	        transform: translateY(1000px);
			opacity: 0;
			-webkit-transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out;
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			color: #F2F2F2;
		}
		#section5 h2{
			-webkit-transform: translateY(1000px);
	        transform: translateY(1000px);
			opacity: 0;
			-webkit-transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out;
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			color: #F2F2F2;
            
		}

		#section5.active h1{
			-webkit-transform: translateY(0);
					transform: translateY(0);
			opacity: 1;
		}
		#section5.active h2{
			-webkit-transform: translateY(0);
					transform: translateY(0);
			opacity: 1;
		}
		#section5.active h2{
			-webkit-transition-delay: .22s;
					transition-delay: .22s;
		}
		#section5 p{
			opacity: 0.6;
		}
        /* Sonstiges
		 * --------------------------------------- */
		#section6{
			background-color: rgb(3, 90, 124);
		}
		#section6 h1{
			-webkit-transform: translateY(1000px);
	        transform: translateY(1000px);
			opacity: 0;
			-webkit-transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out;
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			color: #F2F2F2;
		}
		#section6 h2{
			-webkit-transform: translateY(1000px);
	        transform: translateY(1000px);
			opacity: 0;
			-webkit-transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out;
			transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
						opacity .66s ease-in-out,
						-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
			color: #F2F2F2;
            
		}

		#section6.active h1{
			-webkit-transform: translateY(0);
					transform: translateY(0);
			opacity: 1;
		}
		#section6.active h2{
			-webkit-transform: translateY(0);
					transform: translateY(0);
			opacity: 1;
		}
		#section6.active h2{
			-webkit-transition-delay: .22s;
					transition-delay: .22s;
		}
		#section6 p{
			opacity: 0.6;
		}            